 :root {
     --main: #d73c23;
     --second: #f1f1f1;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
     font-size: 16px;
     background-color: var(--second);
     color: var(--main);
 }

 h1 {
     font-family: 'Playfair Display', serif;
     font-weight: 900px;
     /* font-size: 70px; */
     font-size: clamp(39px, 5vw, 70px);
     padding: 30px;
     text-transform: uppercase;
 }

 h2 {
     font-family: 'Playfair Display', serif;
     font-weight: 900px;
     /* font-size: 70px; */
     font-size: clamp(39px, 5vw, 70px);
     padding: 30px;
     text-transform: uppercase;
 }

 h3 {
     font-size: clamp(20px, 5vw, 40px);
     font-family: 'Playfair Display', serif;
     text-transform: uppercase;
     padding: 15px;
 }

 h4 {
     text-transform: uppercase;
 }

 p {
     font-weight: 400;
     line-height: 24px;
     padding: 0 30px;
     text-align: center;
 }

 a {
     text-decoration: none;
     display: inline-block;
 }

 header {
     background-color: var(--main);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 40px;
 }

 header img {
     max-height: 30px;
     width: auto;
 }

 .top-header .burger-btn {
     transition: all 0.3s;
     display: block;
 }

 .top-header .burger-btn rect {
     transition: all 0.3s;
 }

 .top-header_navigation li a {
     display: none;
 }


 @media (min-width: 768px) {
     .top-header {
         padding: 24px 32px;
     }
 }


 @media (min-width: 1280px) {

     .top-header_navigation {
         list-style-type: none;
         display: flex;
         gap: 20px;
         font-size: 16px;
         font-family: Arial, Helvetica, sans-serif;
     }

     .top-header_navigation li a {
         display: block;
         color: var(--second);
         text-decoration: none;
         padding: 10px 15px;
         border-radius: 5px;
         transition: background-color 0.3s;
     }

     .top-header_navigation ul a:hover {
         background-color: #ebd1c4;
     }

     .top-header .burger-btn {
         display: none;
     }
 }

 /*Main section*/

 .main-section {
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: 40px;
     padding: 0;
 }

 .main-section_content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .main-section_picture {
     width: 100%;
     /* height: clamp(280px 59vw, 510px); */
 }

 .main-section_picture img {
     width: 100%;
     height: 60vh;
     object-fit: cover;
     object-position: top;
 }

 .main-section_content-wrapper p {
     margin-bottom: 30px;
 }

 .primary-btn {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     text-transform: uppercase;
     padding: 16px 40px;
     background-color: var(--main);
     color: var(--second);
     line-height: 19px;
     font-weight: 700;
     border: 2px solid var(--main);
     transition: all 0.3s;
     margin-bottom: 24px;
     border-radius: 28px;
 }

 .primary-btn:hover {
     color: var(--primary-color);
     background-color: var(--second);
 }

 .second-btn {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     text-transform: uppercase;
     padding: 16px 40px;
     background-color: var(--second);
     color: var(--main);
     line-height: 19px;
     font-weight: 700;
     border: 2px solid var(--second);
     transition: all 0.3s;
     margin-bottom: 24px;
     border-radius: 28px;
 }

 .second-btn:hover {
     color: var(--second);
     background-color: var(--main);
 }

 @media (max-width: 1279px) {
     h1 {
         max-width: 700px;
     }

     p {
         max-width: 63ch;
     }
 }

 @media (min-width: 1280px) {
     .main-section {
         flex-direction: row;
         text-align: center;
         align-items: center;
     }

     .main-section_content {
         margin-top: 10px;
         margin-left: 10px;
         margin-bottom: 10px;
         margin-right: 40px;

     }
 }

 /*Po Pagrindinio*/

 .text-border {
    border-color: var(--main);
    border-bottom: 2px solid var(--main);
    border-top: 2px solid var(--main);
    margin-top: -3px;
      padding: 10px 0;
   overflow: hidden;      
   white-space: nowrap;     
   text-align: center;    
}

.text-border_contenct p {
   font-size: 20px;
    padding: 2px;
}
.text-border_contenct {
   font-size: 20px;
   padding: 2px;
   display: inline-block;
   white-space: nowrap;
   letter-spacing: 5px; 
}

.text-border::before {
   display: inline-block;
   white-space: nowrap;       
   letter-spacing: 5px;
   font-size: 20px;	
}


 /*Orandzinis blokas*/
 .get-ready {
     background-color: var(--main);
     color: var(--second);
     padding: 40px;
     text-align: center;
 }

 .get-ready-sec-concent {
     margin-bottom: 20px;
 }

 @media (min-width: 1280px) {
     .get-ready-sec-concent {
         margin: 80px;
         background-color: var(--main);
         padding: 40px 200px 40px 200px;
         text-align: center;
     }
 }


 /*services Work with me*/

 .services-section {
     margin-top: 20px;
     align-items: center;
     text-align: center;
     /* gap: 30px; */
 }

 .services-section .articles {
     gap: 30px;
     padding-bottom: 20px;
 }

 .services-section_article {
     position: relative;
     width: 100%;
     color: var(--second);
     padding: 20px;
     background-color: var(--main);
     text-align: center;
 }

 .services-section_article img {
     width: 100%;
     border-radius: 3px;
     object-fit: cover;
     object-position: top;
 }

 .services-section_article div {
     padding-top: 10px;
     padding-bottom: 10px;
 }

 .services-section_article div p {
     padding-bottom: 30px;
     text-align: center;
 }

 @media(min-width: 1280px) {
     .services-section {
         margin-top: 20px;
         margin-bottom: 70px;
         text-align: center;
     }

     .services-section .articles {
         display: flex;
         flex: 1;
         gap: 120px;
         margin: 50px 50px 10px 50px;
         justify-content: center;
         padding-bottom: 20px;
     }

     .services-section_article {
         position: relative;
         width: 70vh;
         align-items: center;
         color: var(--second);
         padding: 20px;
         background-color: var(--main);
         gap: 20px;

     }

     .services-section_article img {
         width: auto;
         height: 80vh;
         border-radius: 3px;
         object-fit: cover;
         object-position: top;
     }

     .services-section_article div h3 {
         padding-left: 50px;
         padding-right: 50px;
     }

     .services-section_article div p {
         padding-left: 50px;
         padding-right: 50px;
     }
 }

/*CTA*/

.book-call {
    background-color: var(--main);
    padding: 50px 50px 60px 50px;
    align-items: center;
    text-align: center;
}

.book-call h2 {
    margin: 70px 70px 10px 70px;
    color: var(--second);
    font-size: 60px;
}


footer {
    background-color:var(--second);
    color: var(--main);
    text-align: center;
    padding: 10px 0;
    margin: 30px;
}

footer .footer-logo img {
    max-height: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
}

@media(min-width: 1280px) {
   /* footer{ display: flex;
    flex: 3;
   } */
}

/* footer .footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

footer .footer-nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
    flex-grow: 1;
}

footer .footer-nav ul li a:hover {
    color: #ff7043;
} */